{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/JavaScript-autoComplete/1.0.4/auto-complete.min.js"
    integrity="sha512-LwZthDLbb+dritfG9jbFyY1ClYqlkF4I9foqo+783wcl6EPR+kE3uqb0OPsieHt4pFH4HVduwX6rTTDmCaC20g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: rgb(252, 236, 217)";

    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>

<!-- <script>


    async function generatePDF() {
        // document.getElementById("downloadButton").innerHTML = "Currently downloading, please wait";
        console.log('pdf');
        //Downloading
        var downloading = document.getElementById("whatToPrint");
        var doc = new jsPDF('l', 'pt');

        await html2canvas(downloading, {
            //allowTaint: true,
            //useCORS: true,
            // width: 600

        }).then((canvas) => {
            //Canvas (convert to PNG)
            doc.addImage(canvas.toDataURL("image/png"), 'PNG', 15, 10, 700, 850);
        })



        doc.save("Document.pdf");


        //End of downloading

        // document.getElementById("downloadButton").innerHTML = "Click to download";
    }


</script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

<!-- <script>

    $(document).on('click', '.btn_print', function (event) {
        event.preventDefault();

        // get the content to print
        var content = document.getElementById("whatToPrint");

        // create a blob object from the content
        var blob = new Blob([content.outerHTML], { type: "text/html" });

        // show the Save As dialog box
        if (window.showSaveFilePicker) {
            // if the browser supports the method
            window.showSaveFilePicker().then(function (fileHandle) {
                // write the blob to the file
                fileHandle.createWritable().then(function (writer) {
                    writer.write(blob);
                    writer.close();
                });
            });
        } else {
            // if the browser doesn't support the method, fall back to a normal download
            var url = URL.createObjectURL(blob);
            var a = document.createElement("a");
            a.href = url;
            a.download = "file.html";
            a.click();
            URL.revokeObjectURL(url);
        }
    });
</script> -->

<script type="text/javascript">
    $(document).ready(function ($) {
        console.log('print');

        $(document).on('click', '.btn_print', function (event) {
            console.log('print1');
            event.preventDefault();

            //credit : https://ekoopmans.github.io/html2pdf.js

            var element = document.getElementById('whatToPrint');

            //easy
            //html2pdf().from(element).save();

            //custom file name
            //html2pdf().set({filename: 'code_with_mark_'+js.AutoCode()+'.pdf'}).from(element).save();


            //more custom settings
            var opt =
            {
                margin: 1,
                filename: 'estimate_' + '.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };

            // New Promise-based usage:
            html2pdf().set(opt).from(element).save();


        });



    });
</script>




<!-- <script>

    function uplodfile() {
        console.log('upload');

        async function generatePDF() {
            // document.getElementById("downloadButton").innerHTML = "Currently downloading, please wait";

            //Downloading
            var downloading = document.getElementById("whatToPrint");
            var doc = new jsPDF('l', 'pt');

            await html2canvas(downloading, {
                //allowTaint: true,
                //useCORS: true,
                // width: 600

            }).then((canvas) => {
                //Canvas (convert to PNG)
                doc.addImage(canvas.toDataURL("image/png"), 'PNG', 15, 10, 700, 850);
            })



            data = doc.save("Document.pdf");


            //End of downloading

            // document.getElementById("downloadButton").innerHTML = "Click to download";
        }

        $.ajax({
            method: "POST",
            url: "/estimate_pdf/",
            processData: false,
            contentType: false,
            data: data,
            success: function (res) {
                console.log(res)
            }


        })
    }

</script> -->



<div class="fixed-top  " style="top: 7rem; margin-left: 20rem;">
    <div class="row">
        <div class="col-md-4">
            <div class="row  mx-2">
                <div class="col-md-6 py-2"><a class="text-white" style="font-size: 1.5rem;"> All Estimates</a></div>
                <div class="col-md-6 form-inline justify-content-end py-2">
                    <a style="color: white; background-color: rgb(210, 132, 30);" class="btn mr-1"
                        href="{% url 'newestimate' %}"><i class="fa-solid fa-plus "></i>New</a>
                    <div class="dropdown rounded" style="color: white; background-color: rgb(210, 132, 30);">
                        <button type="button" class="btn dropdown-toggle text-white" data-toggle="dropdown">

                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Create Estimate</a>
                            <a class="dropdown-item" href="#">Create Estimate (Pre GST)</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-3" style="height: 600px; overflow-y: scroll;">
                <table class="text-white" style="width: 100%;">
                    {% for estimate in all_estimates %}
                    <tr class="clickable-row" data-href="{% url 'estimateslip' estimate.id %}">
                        <td>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>{{estimate.customer_name}}</h5>
                                </div>
                                <div class="col-md-6 text-right">&#x20B9;{{estimate.total}}.00</div>
                            </div>
                        </td>
                    </tr>
                    <tr class="clickable-row" data-href="{% url 'estimateslip' estimate.id %}">
                        <td>
                            <div class="row">
                                <div class="col-md-3">
                                    <p>EST-{{estimate.estimate_no}}</p>
                                </div>
                                <div class="col-md-3 text-left">
                                    <p>{{estimate.estimate_date}}</p>
                                </div>
                                <div class="col-md-6 text-right">
                                    <p>{{estimate.status}}</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td ><hr style="border-top: 1px solid white;"></td>
                    </tr>

                    {% endfor %}
                </table>
               
            </div>
        </div>
        <div class="col-md-8">
            <div class="row  mx-2 py-3" style="background-color: rgba(252, 236, 217, 0.8)">
                <div class="col-md-5 text-dark" style="font-size: 2.5rem;">
                    EST-{{estimate.estimate_no }}</div>
                <div class="col-md-7 text-white text-right my-auto">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{% url 'editestimate' estimate.id %}" class="btn btn-sm text-white"
                            style="background-color:  rgb(86, 86, 85);" data-toggle="tooltip" title="Edit">
                            <i class="fa fa-pencil"></i></a>
                        <a href="" class="btn btn-sm text-white btn_print" style="background-color:  rgb(86, 86, 85);"
                            data-toggle="tooltip" title="PDF" id="pdf">
                            <i class="fa fa-file-pdf-o"></i></a>
                        <a href="" class="btn btn-sm text-white btn_print" style="background-color:  rgb(86, 86, 85);"
                            data-toggle="tooltip" title="Print">
                            <i class="fa fa-print"></i></a>
                        <a href="{% url 'emailattachment' %}" class="btn btn-sm text-white"
                            style="background-color:  rgb(86, 86, 85);" data-toggle="tooltip" title="Email">
                            <i class="fas fa-envelope"></i></a>
                        
                    </div>
                    <!-- <a href="{% url 'converttoinvoice' estimate.id %}" class="btn btn-sm text-white "
                        style="background-color: rgb(210, 132, 30);" onclick="return confirm('Do you want to convert this estimate to an invoice?');">
                        Convert to Invoice</a> -->
                        <a href="" class="btn btn-sm text-white "
                        style="background-color: rgb(210, 132, 30);" onclick="return confirm('Do you want to convert this estimate to an invoice?');">
                        Convert to Invoice</a>
                    <a href="{% url 'deleteestimate' estimate.id %}" class="btn btn-sm text-white" style="background-color:  rgb(86, 86, 85);" 
                    onclick="return confirm('Do you want to Delete this Estimate?');"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>

            <div class="mx-2 my-4 p-5 "
                style="background-color: rgba(252, 236, 217, 0.8); height: 600px; overflow-y: scroll;">
                <div class="slip p-5 convert_to_pdf bg-light" id="whatToPrint"
                    style="box-shadow: 5px 5px 10px rgb(45, 45, 45);">
                    <div class="row ">
                        <div class="col-md-6 ">
                            <h2 class="text-dark" style="text-transform: uppercase;">{{ company.company_name }}</h2>
                            <h6 class="text-dark">{{ company.address }}</h6>
                            <h6 class="text-dark">{{ company.city }},{{ company.state }}</h6>
                        </div>
                        <div class="col-md-6 text-right">
                            <h1 class="text-dark" style="font-size: 3rem; ">ESTIMATE</h1>
                            <h6 class="text-dark">Estimate Number : EST-{{estimate.estimate_no }}</h6>
                        </div>
                    </div>
                    <hr>
                    <div class="row ">
                        <div class="col-md-6 mt-auto">
                            <h6 class="text-dark">Bill To</h6>
                            <h6 class="text-dark">{{ estimate.customer_name }}</h6>
                        </div>
                        <div class="col-md-6 text-right mt-auto">
                            <h6 class="text-dark ">Order Date : {{ estimate.estimate_date }}</h6>
                        </div>
                    </div>
                    <table class="table mt-2" style="border-color: black;">
                        <thead class="bg-secondary text-white">
                            <tr>
                                <th>#</th>
                                <th style="width: 30rem;">Item</th>
                                <th class="text-right">Quantity</th>
                                <th class="text-right">Rate</th>
                                <th class="text-right">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.item_name }}</td>
                                <td class="text-right">{{ item.quantity }}</td>
                                <td class="text-right">{{ item.rate|floatformat:3 }}</td>
                                <td class="text-right">{{ item.amount|floatformat:3 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <table class="table">
                        <tr>

                            <td class="text-right">Sub-Total:</td>
                            <td class="text-right">{{ estimate.sub_total|floatformat:3}}</td>
                        </tr>
                        {% if estimate.cgst != 0 %}
                        <tr>
                            <td class="text-right">CGST:</td>
                            <td class="text-right">{{ estimate.cgst|floatformat:3}}</td>
                        </tr>
                        {% endif %}
                        {% if estimate.sgst != 0 %}
                        <tr>
                            <td class="text-right">SGST:</td>
                            <td class="text-right">{{ estimate.sgst|floatformat:3}}</td>
                        </tr>
                        {% endif %}
                        {% if estimate.igst != 0 %}
                        <tr>

                            <td class="text-right">IGST:</td>
                            <td class="text-right">{{ estimate.igst|floatformat:3}}</td>
                        </tr>
                        {% endif %}
                        {% if estimate.shipping_charge != 0 %}
                        <tr>

                            <td class="text-right">Shipping Charge:</td>
                            <td class="text-right">{{ estimate.shipping_charge|floatformat:3}}</td>
                        </tr>
                        {% endif %}
                        {% if estimate.adjustment != 0 %}
                        <tr>

                            <td class="text-right">Adjustment:</td>
                            <td class="text-right">{{ estimate.adjustment|floatformat:3}}</td>
                        </tr>
                        {% endif %}
                        <tr>

                            <td class="text-right">Total:</td>
                            <td class="text-right">{{ estimate.total|floatformat:3}}</td>
                        </tr>

                    </table>


                </div>
                <!-- <button id="generate-pdf">Generate PDF</button> -->

                <h4 class="text-dark pt-5">More Information</h4>
                <h6 class="text-dark">Sales Person: Xyz</h6>
            </div>
        </div>
    </div>








    </section>



</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
<script>
    // Add click event listener to all rows with class "clickable-row"
    const rows = document.querySelectorAll('.clickable-row');
    rows.forEach(row => {
        row.addEventListener('click', () => {
            // Get the URL from the "data-href" attribute
            const url = row.getAttribute('data-href');
            // Navigate to the URL
            window.location.href = url;
        });
    });
</script>

<script>

    function print() {
        var content = document.getElementById("whatToPrint");
        var printWindow = window.open('', 'PrintWindow');
        printWindow.document.write('<html><head><title>Print Selected Area</title></head><body>' + content + '</body></html>');
        printWindow.print();
        printWindow.close();


    }




    // function saveAsPDF() {
    //     const element = document.getElementById("whatToPrint");
    //     const opt = {
    //         margin: 1,
    //         filename: "estimate.pdf",
    //         image: { type: "jpeg", quality: 0.98 },
    //         html2canvas: { scale: 2 },
    //         jsPDF: { unit: "in", format: "letter", orientation: "portrait" },
    //         output: "save", // this option tells html2pdf to save the file instead of downloading it
    //         outputParam: "D:/sumi/Altos/zoho_django (1)/zoho_django/media/image/estimate.pdf" // this is the path where the file will be saved
    //     };
    //     html2pdf().set(opt).from(element).save();
    // }

    // function ConvertToPDF() {
    //     var doc = new jsPDF();
    //     var HTMLelement = $(".convert_to_pdf").html();
    //     doc.fromHTML(HTMLelement, 10, 10, {
    //         'width': 190
    //     });
    //     doc.save('estimateslip.pdf');
    // }


</script>
<script>
    function openFilePicker() {
        const input = document.createElement('input');
        input.type = 'file';
        input.accept = '.pdf'; // set the file type filter to only allow PDF files
        input.addEventListener('change', () => {
            const file = input.files[0];
            // send the selected file to the server via AJAX
            const formData = new FormData();
            formData.append('file', file);
            $.ajax({
                url: '/send_email/',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    alert('File uploaded successfully');
                },
                error: function (xhr, status, error) {
                    alert('Error uploading file: ' + error);
                }
            });
        });
        input.click();
    }
</script>



{% endblock %}