{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .d-flex {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the spacing between the input and button */
}
</style>


<!-- <div class="fixed-top  " style="top: 7rem; margin-left: 20rem;"> -->

<section id="estimates_section">
  <div class="row  mx-2">
    

      <div class="col-md-2 py-2">
        <form action="{% url 'search_bill' %}" method="post">
          {% csrf_token %}
        <select class="form-control btn btn-outline-warning dropdown-toggle text-white" aria-label=".form-select-lg example"
        style="width: 40%; margin-top: 8px;" name="type">

        <option value="1" selected>All Bills</option>
        <option value="2">Customer Name</option>
        <option value="3">Bill No</option>

       </select>
        </div>
        <div class="col-md-6 py-3 d-flex">
          <input type="text" id="search" name="search" class="form-control" placeholder="Type here..">
          <button type="submit" class="searchButton py-1">
              <i class="fa fa-search"></i>
          </button>
      </div>
    </form>

    

    <div class="col-md-4 form-inline justify-content-end py-2">
      <a style="color: white; background-color: rgb(210, 132, 30);" class="btn mr-1" href="{% url 'new_bill' %}"><i
          class="fa-solid fa-plus "></i>New</a>
      
    </div>
  </div>

  <div class="col-sm-12 mt-4" style="height: 600px; overflow-y: scroll;">
    <table id="estimates-table" class="table  text-white text-center">
      <thead>
        <tr>
          <th>DATE</th>
          <th>BILL NUMBER</th>
          <th>ORDER NUMBER</th>
          <th>CUSTOMER NAME</th>
          <th>VENDOR NAME</th>
          <th>STATUS</th>
          <th>AMOUNT</th>
        </tr>
      </thead>
      <tbody>
        {% for bill in bills %}
        <tr class="clickable-row" data-href="{% url 'bill_view' bill.id %}">
          <td>{{bill.bill_date}}</td>
          <td>{{bill.bill_no}}</td>
          <td>{{bill.order_number}}</td>
          <td>{{bill.customer_name}}</td>
          <td>Mr.{{bill.vendor_name}}</td>
          <td>{{bill.status}}</td>
          <td>{{bill.total}}</td>
        </tr>
        {% endfor %}
      </tbody>


    </table>
  </div>
</section>



</div>


<script>
  // Add click event listener to all rows with class "clickable-row"
  const rows = document.querySelectorAll('.clickable-row');
  rows.forEach(row => {
    row.addEventListener('click', () => {
      // Get the URL from the "data-href" attribute
      const url = row.getAttribute('data-href');
      // Navigate to the URL
      window.location.href = url;
    });
  });
</script>




{% endblock %}